%h2.settings-subtitle
  Other actions

.actions
  = link_to manage_invites_path, method: "get", class: 'btn btn-primary' do
    <i class="fa fa-plus" aria-hidden="true"></i> Invite users
  = link_to manage_team_members_path, method: "get", class: 'btn btn-primary' do
    <i class="fa fa-users" aria-hidden="true"></i> Manage members