.option-menu
  %h2.option-menu-title
    Help Center
.option-menu
  %a.option-menu-choice.is-selected{href: getting_started_path}
    Getting started
  %hr.divider
  %a.option-menu-choice.is-selected{href: contact_path}
    Contact
  %hr.divider
  %a.option-menu-choice.is-selected{href: faq_path}
    FAQ
