.dropdown
  %button.dropdown-button
    .current-user
      %img.current-user-image{src:current_user.picture_url}
      = current_user
      %i.fa.fa-bars{'aria-hidden':true}
    .dropdown-content
      .menu-option.filter
        Filter Transactions
        %i.fa.fa-paper-plane{'aria-hidden':true}
      .hidden-menu.filter
        .filter-option.send
          My Send Transactions
          %i.fa.fa-square-o
        .filter-option.received
          My Received Transactions
          %i.fa.fa-square-o
      .menu-option.balance
        Balance History
        %i.fa.fa-history{'aria-hidden':true}
      %a{href:destroy_user_session_path}
        .menu-option
          Sign Out
          %i.fa.fa-sign-out{'aria-hidden':true}