%button.dropdown-button
  .current-user{onclick:'showMenu()'}
    %img.current-user-image{src:current_user.picture_url}
    = current_user
    %i.fa.fa-bars{'aria-hidden':true}
  .dropdown-content
    .menu-option{onclick: 'showFilters()'}
      Filter Transactions
      %i.fa.fa-paper-plane{'aria-hidden':true}
    .hidden-menu
      .filter-option.send
        My Send Transactions
        %i.fa.fa-square-o
      .filter-option.received
        My Received Transactions
        %i.fa.fa-square-o
    %a{href:'#'}
      .menu-option
        Balance History
        %i.fa.fa-history{'aria-hidden':true}
        -#.history.hidden-menu
        -#  .balance-option.current
        -#    Balance: Current
        -#    %i.fa.fa-check-square-o
        -#  - Balance.balances.each do |balance|
        -#    .balance-option.other
        -#      Balance:
        -#      = balance.name
    %a{href:destroy_user_session_path}
      .menu-option
        Sign Out
        %i.fa.fa-sign-out{'aria-hidden':true}