.error-container
  = if @transaction.errors.any?
    %h2.error-title
      = pluralize(@transaction.errors.count, 'error')
      prohibited this article from being saved:
    .error-body
      %ul
        = @transaction.errors.full_messages.each do |msg|
          %li
            = msg
