.filter-container
  -#%h3
  -#  Filter
  -#%ul.dropdown
  -#  All
  -#  .dropdown-content
  -#    %li.menu-content
  -#      Received Transactions
  -#    %li.menu-content
  -#      Send Transactions

  -#.dropdown
    %a.dropdown-container{href:'#'}
      %span.flex-item
        No Filter
      %span
      .fa.fa-chevron-down
    .filter.dropdown-content
      %a.menu-content
        %span.flex-item
  -#.dropdown
    %a.dropdown-container{href:'#'}
      %span.flex-item
        Sort
      %span
      .fa.fa-chevron-down
    .sort.dropdown-content
      %a.menu-content{href:destroy_user_session_path}
        %span.flex-item
          Sign Out
        %i.fa.fa-sign-out{'aria-hidden':true}
  -#%button.btn.btn-primary.btn-filter{type:'button'}
    %span.flex-span
      %span.flex-item
        My Transactions
      %span
        %i.fa.fa-filter
  %button.btn.btn-primary.btn-filter.filter-option.send{type:'button'}
    %span.flex-span
      %span.flex-item
        Send Transactions
      %span
        %i.fa.fa-square-o
  %button.btn.btn-primary.btn-filter.filter-option.received{type:'button'}
    %span.flex-span
      %span.flex-item
        Received Transactions
      %span
        %i.fa.fa-square-o