.filter
  %button.filter-btn.click{type:'button'}
    Filters
    %i.fa.fa-minus
  %button.filter-option.send.filter-btn{type:'button'}
    My Send Transactions
    %i.fa.fa-square-o
  %button.filter-option.received.filter-btn{type:'button'}
    My Received Transactions
    %i.fa.fa-square-o