.filter
  %button.filter-option.filter-btn{type:'button'}
    Filters
    %i.fa.fa-chevron-right
  %button.filter-option.send.filter-btn{type:'button'}
    My Send Transactions
    %i.fa.fa-square-o
  %button.filter-option.received.filter-btn{type:'button'}
    My Received Transactions
    %i.fa.fa-square-o