.dropdown
  %a.dropdown-container.general-menu
    %span.flex-item
      Menu
    %span
      %i.fa.fa-bars{'aria-hidden':true}
  .general.dropdown-content
    %a.general.menu-content{href:'#'}
      %span.flex-item
        Guidelines
      %span
        %i.fa.fa-list-ul{'aria-hidden':true}
    %a.general.menu-content
      %span.flex-item
        Balance History
      %span
        %i.fa.fa-history{'aria-hidden':true}

