.dropdown
  %button.dropdown-button.general-menu{type:'button'}
    Menu
    %i.fa.fa-bars{'aria-hidden':true}
  %button.dropdown-content{type:'button'}
    Guidelines
    %i.fa.fa-list-ul{'aria-hidden':true}
  %a.dropdown-content{href:'#'}
    Balance History
    %i.fa.fa-history{'aria-hidden':true}