.guideline-modal
  .modal-dialog
    .modal-header
      %h2
        Kudo Guidelines
    .modal-body
      %ul
        - Transaction::GUIDELINES.reverse.each do |name, value|
          %li
            %span.g-name
              = name
            %span
              = value
    .modal-footer
      %button.btn.btn-primary.btn-close.close-guidelines
        Close
