.message-container.show-message
  - if !flash[:error].blank?
    .error-message
      %span.message
        .fa.fa-exclamation-circle
        = flash[:error]
      %span
        .fa.fa-times.close-message
  - if !flash[:notice].blank?
    .notice-message
      %span.message
        .fa.fa-info-circle
        = flash[:notice]
      %span
        %i.fa.fa-times.close-message
