.dropdown
  %button.dropdown-button.current-user{type:'button'}
    = current_user
    %img{src:current_user.picture_url}
  %a.profile-content{href:destroy_user_session_path}
    -#.menu-option
    Sign Out
    %i.fa.fa-sign-out{'aria-hidden':true}