.dropdown
  %button.dropdown-button
    .current-user
      %span.username
        = current_user
      %img.current-user-image{src:current_user.picture_url}
    .profile-content
      %a{href:destroy_user_session_path}
        .menu-option
          Sign Out
          %i.fa.fa-sign-out{'aria-hidden':true}