.dropdown
  %a.dropdown-container.current-user{href:'#'}
    %span
      %img{src:current_user.picture_url}
    %span.username
      = current_user
    .fa.fa-chevron-down

  .profile.dropdown-content
    %a.menu-content{href:destroy_user_session_path}
      %span.flex-item
        Sign Out
      %i.fa.fa-sign-out{'aria-hidden':true}

  .user-statistics-container
    .userstatistics
      %span.statistics-title
        Received
      %br
      %span.statistics-value
        = @received_transactions
    .userstatistics
      %span.statistics-title
        Given
      %br
      %span.statistics-value
        = @send_transactions
    .userstatistics
      %span.statistics-title
        Total
      %br
      %span.statistics-value
        = @all_transactions