.dropdown
  %a.dropdown-container.current-user{href:'#'}
    %span.flex-item
      = current_user
    %span
      %img{src:current_user.picture_url}
  .profile.dropdown-content
    %a.menu-content{href:destroy_user_session_path}
      %span.flex-item
        Sign Out
      %i.fa.fa-sign-out{'aria-hidden':true}