.suggested-guidelines-container
  .suggested--guidelines-header
    %span
      These are the Guidelines that are around
    %span.amount-of-kudos.highlighted
    ₭udos:
    %br
    %br
  .suggested-guidelines