.suggested-guidelines-container
  .suggested--guidelines-header
    %span
      These are the
    %span.link-to-guideline
      Guidelines
    that are around
    %span.amount-of-kudos.highlighted
    ₭udos:
    %br
    %br
  %ul.suggested-guidelines