.container
  .row
    .col-md-12
      #most-recent
        50𝕂 van JOEP aan HENK voor HET GEVEN VAN EEN LEZING

  .row
    .col-md-6
      #previous-goal
        .title TENNISSEN
        .balance 1.000K

    .col-md-6
      #next-goal
        .title KARTEN
        .balance 1.500K

  .row
    .col-md-12
      #progress
        .balance 1.324K
