RAILS_ENV="development"
RACK_ENV="development"
ROOT_URL="kudo-o-matic-staging.herokuapp.com"
FRONTEND_ROOT_URL="kudos.develop.kabisa.io"

SENTRY_DSN="https://xxxxxxxxx:xxxxxxxxxxx@sentry.io/xxxxxx"

AWS_S3_HOST_NAME="s3.<region>.amazonaws.com"
AWS_S3_REGION="<region>"
AWS_S3_BUCKET="<bucket name>"
AWS_ACCESS_KEY_ID="xxxxx"
AWS_SECRET_ACCESS_KEY="xxxxx"

MAIL_USERNAME="<mail address>"
MAIL_PASSWORD="xxxxx"
MAIL_ADDRESS="<mail server>"