GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
SLACK_WEBHOOK_URL="https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX"
SLACK_CHANNEL="#channel or @user"
ROOT_URL="https://homepage.org"
COMPANY_USER="COMPANY_USERNAME"
RAILS_ENV="environment"
RACK_ENV="environment"
DEVISE_DOMAIN="gmail.com"

S3_BUCKET_EMOJI_URL="https://bucket-name.s3.amazonaws.com/emojis/"

AWS_S3_HOST_NAME="s3.region.amazonaws.com"
AWS_S3_REGION="region"
AWS_S3_BUCKET="bucket-name"
AWS_ACCESS_KEY_ID="XXXXXXXXXXXXXXXXXXXX"
AWS_SECRET_ACCESS_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
