RAILS_ENV="development"
RACK_ENV="development"
ROOT_URL="http://localhost:3000/"

COMPANY_USER="<organization name>"
DEVISE_DOMAIN="<organization mail domain>"

GOOGLE_CLIENT_ID="xxxxx.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="xxxxx"
GOOGLE_CLIENT_ID_KUDO_O_MOBILE_IOS="xxxxx.apps.googleusercontent.com"
GOOGLE_CLIENT_ID_KUDO_O_MOBILE_ANDROID="xxxxx.apps.googleusercontent.com"

SLACK_CLIENT_ID="xxxxx"
SLACK_CLIENT_SECRET="xxxxx"
SLACK_VERIFICATION_TOKEN="xxxxx"
SLACK_ACCESS_TOKEN="xoxp-xxxxx"
SLACK_BOT_ACCESS_TOKEN="xoxb-xxxxx"
SLACK_CHANNEL="<channel #name or id>"

AWS_S3_HOST_NAME="s3.<region>.amazonaws.com"
AWS_S3_REGION="<region>"
AWS_S3_BUCKET="<bucket name>"
AWS_ACCESS_KEY_ID="xxxxx"
AWS_SECRET_ACCESS_KEY="xxxxx"
S3_BUCKET_EMOJI_URL="https://bucket-name.s3.amazonaws.com/emojis/"

MAIL_USERNAME="<mail address>"
MAIL_PASSWORD="xxxxx"
MAIL_ADDRESS="<mail server>"