.sun
.cloud.x1
.cloud.x2
.cloud.x3
.cloud.x4
.cloud.x5
.cloud.x6
.cloud.x7
.cloud.x8
.cloud.x9
#button{:onclick => "addKudos()"}
  %img#kudobox{:src => "images/kudobox.jpg"}/
%p#amount_of_kudos
  You are giving:
  %a#clicks 0
  Kudos
#coin-wrapper
  %img#kudocoin{:src => "images/Kudocoin.png"}/
#goddamnmountains
  .mountain.m-one
  .mountain.m-two
#grass-n-shit
