%tr
  %td.content
    = "We have just started a data export for you! \u{1f600}".html_safe
    %p
      If you didn't start a data export, you should secure your account immediately by
      = link_to 'changing your password.', account_url
