%tr
  %td.content
    = "Your data export is ready! \u{1f600}".html_safe
    %p
      The .zip package can be downloaded from
      = link_to 'here.', users_download_export_url(@export.uuid)
    %p Your download will be available for 7 days.