%tr
  %td.content
    = "You have been invited to join the '₭udo-o-Matic' by #{@team.name}! \u{1f600}".html_safe
    %ul
      %li
        = link_to "Sign up here", sign_up_url
      %li
        For any help on how to use the ₭udo-o-Matic please read the FAQ, which you can find in your profile menu.