Welcome to example.com,
-#= @user.name
===============================================

You have succesfully signed up to example.com,
your username is:
-#= @user.login

To login to the site, just follow this link:
= @url

Thanks for joing and have a great day!