///////////////////////////////////////////////////////////
//
// Base styles
//
///////////////////////////////////////////////////////////
html {
  //background: url('https://photos-5.dropbox.com/t/2/AAAZtV6wOtCsdP3Dl7pLtT2_ZON-MNFCDkxkwEbiDVJ58w/12/184449953/jpeg/32x32/1/_/1/2/luca-zanon-26595.jpg/EKWxh4wBGNeOBiAHKAc/UUBzN3aemwPqFwblMqoLSjkC-TjfvgyjZ2GzDfutBYE%2CHSZgne7l8epYSu8z3tnHgQpjarGSOE9jMDHMCIQm_Uw%2CA4AWukYwARqMS0UgiYo_PrNJaFJo8fQA0Pe9b7XxY3A?size=2048x1536&size_mode=3') no-repeat center center fixed;
  background-size: cover;
  //background-image: url('yellow.jpg');
  background-image: radial-gradient(ellipse farthest-side at 100% 100%, #65799B 20%, #252d63 130%); //linear-gradient(143deg, #000e3b 1%, #3e5293 35%, #636fa4 67%, #DBF6C8 94%);
  //background-image: radial-gradient(ellipse farthest-side at 100% 100%, #EAE1C0 20%, #D2AE8E 50%, #E55F3A 130%); //linear-gradient(143deg, #000e3b 1%, #3e5293 35%, #636fa4 67%, #DBF6C8 94%);
  font-family: $default-font-stack;
  color: $text-primary;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // Avoid horizontal squeeze under minimum mobile screen width
  min-width: 320px;
  min-height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
  background-attachment: fixed;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

strong {
  font-weight: $font-weight-bold;
}

textarea {
  font-family: $default-font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $display-font-stack;
  font-weight: $font-weight-normal;
  line-height: normal;
}

h1 {
  font-size: $font-size-huge;
}

h2 {
  font-size: $font-size-large;
}

h3 {
  font-size: $font-size-medium;
}

h4 {
  font-size: $font-size-regular;
}
