= render 'layouts/header'
.page
  .body
    .container-left
      .fixed-div-left
        = render 'teams/menu'
    .container-center.flex-is-three
      .container
        .topic-container
          %h2.title-container
            Members
          .text-container.has-table#team-members
            = render 'team_members_list', members: @members
          .actions
            = link_to manage_invites_path(team: current_team.slug), method: "get", class: 'btn btn-primary' do
              <i class="fa fa-plus" aria-hidden="true"></i> Invite users



