%table.settings-table
  %tr
    %th
      Export
    %th
      Exported at
  - exports.each do |e|
    %tr.no-top-border
      %td
        = link_to "export_#{e.uuid}.zip", e.zip.url
      %td
        = e.created_at.strftime("%Y-%m-%d")