%table.settings-table
  %tr
    %th
      Transaction
    %th
      Liked at
  - likes.each do |l|
    %tr.no-top-border
      %td
        = link_to l.transaction_votable.short_str, transaction_path(l.transaction_votable.team.slug, l.votable_id)
      %td
        = l.created_at.strftime("%Y-%m-%d")
= paginate likes