= render 'layouts/header'
.page
  .body
    .container-left
      .fixed-div-left
        = render 'menu'
    .container-center.flex-is-three
      .container
        .topic-container
          = render 'notifications'

