= render 'layouts/header'
.page
  .legal-container
    %h2.legal-heading
      Privacy Policy
    %p.legal-body
      Last updated on January 3, 2018
    %p.legal-body
      ₭udo-o-Matic is a brand name of Kabisa B.V. Kabisa B.V. is committed to respecting your privacy. This Privacy
      Policy describes the privacy practices for the ₭udo-o-Matic website and mobile app.
    %h4.legal-heading
      1. Why is my information needed?
    %p.legal-body
      ₭udo-o-Matic is web based. Because of this it requires the use of a Google account as a login. Therefore, at
      a minimum, we may require necessary information in order to establish your account with us.
    %h4.legal-heading
      2. What information does ₭udo-o-Matic gather/track and how is it used?
    %p.legal-body
      PERSONAL INFORMATION: We collect personal information from users including first and last names, and a Google
      Apps email address to be used as a login. When a user registers online, ₭udo-o-Matic will take steps to verify the
      email address supplied to us to ensure it is accurate. Your email address may be used to send you periodic
      reminders and notifications from ₭udo-o-Matic. You can opt out of these emails at any time, but will still
      receive notifications that are considered necessary to provide the service to you. We use the information
      collected to deliver services, update our records, communicate with you through our producst, and generally
      maintain your accounts with us. We will retain your information for as long as your account is active, as needed
      to provide you services, to comply with our legal obligations, resolve disputes, and enforce our agreements. If
      you wish to cancel your account or request that we no longer use your information to provide you services contact
      us at support@kabisa.nl. We do not share, sell, trade, or rent your personal information to third parties except
      as described in this privacy policy. Information gathered at ₭udo-o-Matic is done so on a voluntary basis.
    %p.legal-body
      BUSINESS INFORMATION: Information that is collected by our products is considered confidential. We will not view
      Business Information except as necessary to appropriately support the service or as required by law. (Business
      Information includes app data, images, configuration settings and any other business information stored on
      ₭udo-o-Matic). We will not view Business Information, except as necessary to appropriately support the service,
      for the purpose of anticipating, diagnosing, supporting or resolving any problems that might limit or disrupt the
      quality of our customers’ service experience or as required by law.
    %p.legal-body
      SESSION RECORDS: To maintain our quality of service and to assist in the analysis of product performance, we may
      also gather data on connection information, including the timing and size of all packets sent over the Internet
      during a session. The gathered information is used only to ensure the highest quality experience possible when
      using ₭udo-o-Matic.
    %p.legal-body
      SECURITY INFORMATION: ₭udo-o-Matic also collects certain standard information about your computer for security
      and identification purposes. This information may include: IP addresses, domain names, access times, cookies and
      other unique identifying information of machines that have our software downloaded and installed on them. This
      information is used for the operation of the service, to identify and protect our customers and to control
      unauthorized use or abuse of our services. All information is encrypted during transmission and is stored
      securely within our servers.
    %h4.legal-heading
      3. With whom does ₭udo-o-Matic share the information?
    %p.legal-body
      Ensuring your privacy is important to us. We do not sell, trade or rent your personal information to third
      parties. ₭udo-o-Matic by necessity requires us to provide some of your information to third parties. We may
      occasionally employ other companies to perform functions on our behalf. Examples, sending email and analyzing
      data. They have access to personal information needed only to perform their functions and may not use it for any
      other purpose. Furthermore, they must process the personal information in accordance with this Privacy Policy.
      Links to other sites: This website may contain links to other sites that are not owned or controlled by
      ₭udo-o-Matic. Please be aware that we, ₭udo-o-Matic, are not responsible for the privacy practices of such other
      sites. We encourage you to be aware when you leave our site and to read the privacy statements of each and every
      website that collects personally identifiable information.
    %h4.legal-heading
      4. How does ₭udo-o-Matic protect my information from loss, misuse or alteration?
    %p.legal-body
      ₭udo-o-Matic has implemented commercially reasonable precautions designed to protect the website it hosts and the
      information it collects from loss, misuse, and unauthorized access, disclosure, alteration, and destruction.
      Nevertheless, we remind you that no security measure is perfect. ₭udo-o-Matic is accessed via Google Apps user
      accounts. ₭udo-o-Matic is not liable for loss of passwords due to user carelessness. If you lose control over
      your Google account, you may lose control over your personally identifiable information. If you believe your
      Google Account has been compromised, we recommend that you immediately change your password or activate
      Google’s 2-Step Verification.
    %h4.legal-heading
      5. How long does ₭udo-o-Matic retain data?
    %p
      ₭udo-o-Matic currently retains all user and business data indefinitely, until you request to shut down your
      ₭udo-o-Matic account.
