///////////////////////////////////////////////////////////
//
// Base colors
//
///////////////////////////////////////////////////////////

$red-color:                               #E8643E;
$green-light-color:                       rgba(77, 175, 124, 0.25);
$green-color:                             #4DAF7C;
$orange-color:                            #EB9532;
$blue-color:                              #5F90B0;
$brown-color:                             #8C7C6C;
$grey-color:                              #B2ACAB;
$grey-light-color:                        #F0F1F5;
$grey-selector-color:                     #F8F8FA;
$white-color:                             #FFFFFF;
$black-color:                             #000000;

///////////////////////////////////////////////////////////
//
// Color palette
//
///////////////////////////////////////////////////////////

$base-color-brand:                        #4B4656;
$base-color-black:                        #000000;
$base-color-dark-gray:                    #292B2C;
$base-color-medium-gray:                  #464A4C;
$base-color-gray:                         #999999;
$base-color-light-gray:                   #BFBABA;
$base-color-lighter-gray:                 #CCCCCC;
$base-color-light-red:                    #D8827F;
$base-color-solitude-white:               #F0F1F5;
$base-color-white:                        #FFFFFF;

///////////////////////////////////////////////////////////
//
// General colors
//
///////////////////////////////////////////////////////////

// First
$primary-bg:                              $base-color-white;
$secondary-bg:                            $base-color-solitude-white;

$primary-color:                           $base-color-brand;

// Text
$text-primary:                            $base-color-dark-gray;
$text-gray:                               $base-color-gray;
$text-medium-gray:                        $base-color-medium-gray;
$text-light-gray:                         $base-color-light-gray;
$text-white:                              $base-color-white;

// Form
$primary-form-bg:                         $primary-bg;
$primary-form-color:                      $text-medium-gray;
$primary-input-bg:                        $secondary-bg;

// Border
$primary-border-color:                    rgba($base-color-black, 0.125);
$secondary-border-color:                  $base-color-lighter-gray;
$danger-border-color:                     $base-color-light-red;
$focus-border-color:                      $base-color-brand;

// Button
$primary-button-bg:                       $base-color-brand;
$primary-button-color:                    $text-white;
$secondary-button-bg:                     $base-color-white;
$secondary-button-color:                  $base-color-dark-gray;
$danger-button-bg:                        $base-color-light-red;
$danger-button-color:                     $base-color-dark-gray;

// Kudo Meter
$primary-stroke-color:                    $secondary-bg;
$secondary-stroke-color:                  $base-color-brand;

// Flash message
$flash-error-bg:                          $base-color-light-red;
$flash-error-border-color:                $base-color-light-red;

$flash-success-bg: $green-light-color;
$flash-success-border-color: $green-light-color;

$flash-warning-bg: $orange-color;
$flash-warning-border-color: $orange-color;
