///////////////////////////////////////////////////////////
//
// Base colors
//
///////////////////////////////////////////////////////////

$red-color:                               #E8643E;
$green-color:                             #4DAF7C;
$blue-color:                              #5F90B0;
$brown-color:                             #8C7C6C;
$grey-color:                              #B2ACAB;
$grey-light-color:                        #F0F1F5;
$white-color:                             #FFFFFF;
$black-color:                             #000000;

///////////////////////////////////////////////////////////
//
// General colors
//
///////////////////////////////////////////////////////////

// First
$primary-color-bg:                        $white-color;
$secondary-color-bg:                      $grey-light-color;

// Text
$text-primary:                            $black-color;
$text-secondary:                          $brown-color;
$text-tertiary:                           $blue-color;
$text-time-stamp:                         $grey-color;
$text-primary-button:                     $white-color;

// Form
$primary-form-bg:                         $secondary-color-bg;
$primary-form-color:                      $text-primary;

// Border
$primary-border-color:                    $black-color;
$secondary-border-color:                  $white-color;
$secondary-border-color:                  $blue-color;
$primary-box-shadow:                      $black-color;

// Button
$primary-button-bg:                       $red-color;
$primary-button-color:                    $text-primary-button;

// Kudo Meter
$primary-stroke-color:                    $secondary-color-bg;
$secondary-stroke-color:                  $green-color;

///////////////////////////////////////////////////////////
//
// Base colors
//
///////////////////////////////////////////////////////////

$dark-blue-color:                         #00264C;
$light-blue-color:                        #679EBF;
$dark-grey-color:                         #666666;
$medium-grey-color:                       #B2ACAB;
$light-grey-color:                        #EAEAEA;
