$brand-black:                       #000000;
$brand-dark-blue:                   #00264C;
$brand-dark-grey:                   #666666;
$brand-light-grey:                  #EAEAEA;
$brand-white:                       #FFFFFF;

$brand-dark-blue-rgb:              0,38,76;
$brand-dark-grey-rgb:              102, 102, 102;
$brand-light-grey-rgb:             234,234,234;
$brand-white-rgb:                  255,255,255;

$background-header:                 linear-gradient($brand-black, $brand-dark-blue);
//$background-transaction-button:     linear-gradient(rgba($brand-dark-blue-rgb,0.95),($brand-dark-blue,0.7));

