button {
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: inherit;
}

.btn {
  border-radius: $border-radius-small;
  padding: $padding-small;
}

.btn-primary {
  background: $primary-button-bg;
  border: 1px solid $primary-border-color;
  color: $primary-button-color;
  font-weight: 300;
}

.btn-secondary {
  background: $secondary-button-bg;
  border: 1px solid $secondary-border-color;
  color: $secondary-button-color;
  font-weight: 300;
}

.btn-like {
  font-size: $font-size-small;
  min-width: 4rem;
  text-align: center;
}

.btn-save {
  margin-top: $margin-primary;
  font-size: 1rem;
  cursor: pointer;
}

.btn-close {
  padding-top: $padding-small;
  color: $white-color
}

.flex-span {
  display: flex;
  width: 100%;
}

.flex-item {
  flex: 1;
}

.simple_form {
  #send-kudos-button {
    background-color: $primary-button-bg;
    border-radius: $border-radius-small;
    color: $primary-button-color;
    cursor: pointer;
    height: 2.5rem;
    width: 10rem;
  }
}

.button-container {
  margin-top: 2rem;
}

#like-button {
  color: $primary-button-color;
  margin-top: $margin-secondary;
  border-radius: $border-radius-small;
  background-color: rgba(234, 234, 234, 1.0);
  transform: translateZ(0);
  transition-duration: 0.5s;
  transition-property: color;
}

@media screen and (min-width: 1201px) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 535px) {
  #send-kudos-button {
    width: auto;
  }
}

a.btn.btn-default {
  background-color: #4B4656;
  color: #eee;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 20px;
  width: auto;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.125rem;
  font-size: 0.875rem;
  line-height: normal;
  margin-left: 10px;
}

.invites {
  margin-bottom: 30px;
}

.invites tr td a.btn {
  font-size: 10px;
  padding: 5px;
}

.invites li {
  display: flex;
}

.invite-name {
  display: inline-block;
  width: 100px;
}