.create-transaction-container {
  background: $primary-bg;
  border: 1px solid $base-color-dark-gray;
  border-radius: $border-radius-small;
  margin-bottom: $margin-secondary;
  overflow: hidden;
  padding: $padding-primary;
}

.simple_form {

  input:focus,
  textarea:focus {
    border-color: $focus-border-color;
  }

  input {
    border: 1px solid $primary-border-color;
    border-radius: $border-radius-small;
    background: $primary-input-bg;
    color: $primary-form-color;
    font-size: $font-size-form;
    padding: $padding-medium * 0.75 $padding-medium * 1.3125;
    width: 100%;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  input:last-child {
    padding-right: $padding-primary;
  }

  .btn-guideline-info {
    position: absolute;
    padding: $padding-secondary;
    right: 0;
    top: 0;
  }

  textarea {
    border: 1px solid $primary-border-color;
    border-radius: $border-radius-small;
    background-color: $primary-input-bg;
    color: $primary-form-color;
    font-size: $font-size-form;
    flex: 1;
    margin-top: $margin-secondary;
    padding: $padding-medium * 0.75 $padding-medium * 1.3125;
    padding-right: 1.5rem;
    resize: none;
    height: 4.5rem;
    overflow: auto;
  }

  input::placeholder,
  textarea::placeholder {
    color: $text-light-gray;
  }

  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: inherit;
  }
}

.transaction-body {
  display: flex;
}

.receiver {
  display: flex;
  margin-right: $margin-secondary;
}

.amount {
  display: flex;
  color: $text-gray;
  position: relative; // IE has problems with position: absolute on child elements without this
}

.activity {
  display: flex;
  position: relative; // IE has problems with position: absolute on child elements without this
}

.activity-extras {
  color: $text-primary;
  font-size: 1.0625rem;
  display: flex;
  align-items: center;

  a.fa, .add-attachment {
    border: 1px solid $secondary-border-color;
    border-radius: $border-radius-small;
    margin-left: $margin-secondary;
    padding: $padding-medium $padding;
  }

  .add-attachment {
    cursor: pointer;
  }
}

.attachment {
  display: none;
}

.attachment-content {
  transition: all 300ms ease;
  background: $base-color-brand;
  color: $text-white;
  position: absolute;
  padding: 0.5rem;
  display: none;
}

.attachment-content.show-attachment {
  display: block;
}

.attachment-tooltip {
  width: 0;
  height: 0;
  border: 0.5rem solid;
  border-color: transparent transparent $base-color-brand transparent;
  position: absolute;
  top: -1rem; left: 1.5rem;
  display: none;
}

.attachment-tooltip.show-tooltip {
  display: block;
}

.attachment-preview {
  img {
    max-width: 6rem;
    max-height: 6rem;
  }
}
.name-of-attachment {
  max-width: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: $font-size-small;
  display: flex;
  line-height: 1.2;

  .file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 auto;
  }

  .destroy-attachment {
    margin-left: $margin-secondary;
    cursor: pointer;
  }
}

.delete-attachment {
  display: flex;
  margin-top: $margin-secondary;

  &-checkbox {
    align-items: center;
    border: 1px solid $primary-border-color;
    background: $primary-input-bg;
    border-radius: $border-radius-small;
    display: flex;
    padding: 0.5rem;
  }

  input {
    width: fit-content;
  }

  label {
    margin-left: 0.5rem;
    white-space: nowrap;
  }
}

.counter {
  display: none;
  padding: $padding-secondary;
  position: absolute;
  font-size: $font-size-small;
  color: $text-gray;
  right: 0;
  bottom: 0;
}

.counter.show-counter {
  display: block;
  @include animation(counter, .5s);
}

@keyframes counter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.submit {
  display: flex;
  align-items: center;
  margin-top: $margin-secondary * 1.5;

  .submit-btn {
    flex: 1;
  }
}


.transaction-container-title {
  display: flex;
}

.btn-label {
  margin-right: $margin-secondary / 2;
}

.flex-item {
  flex: 1;
}

.file-upload {
  position: relative;
  cursor: pointer;

  .fa {
    cursor: pointer;
  }
}
.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);

  input {
    padding: 0 !important;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 720px) {
  .create-transaction-container {
    margin-bottom: $margin-secondary;
  }

  .fa-smile-o {
    display: none;
  }
}