.create-transaction-container {
  padding: $padding + 0.25 $padding;
  background: $primary-color-bg;
  border-radius: $border-radius-small;
  margin-bottom: $margin-bottom * 4;
  overflow: hidden;
  color: $text-primary;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  //border: 0.5rem solid transparent;
  //border-image: linear-gradient(to bottom, rgba($primary-brand-color-darkest, 0.9) 0%, $primary-brand-color-darkest 25%);
  //border-image-slice: 1;
}

.simple_form {
  input {
    border: none;
    border-radius: $border-radius-small;
    background: $primary-form-bg;
    color: $primary-form-color;
    font-size: $font-size-regular;
    padding: $padding-small / 2;
    width: 100%;
  }

  textarea {
    border: none;
    border-radius: $border-radius-small;
    background-color: $primary-form-bg;
    color: $primary-form-color;
    font-size: $font-size-regular;
    flex: 1;
    margin-top: $whitespace;
    padding: $padding-small / 2;
    resize: none;
  }
}

.transaction-body {
  display: flex;
}

.receiver {
  display: flex;
  margin-right: $whitespace;
}

.amount {
  display: flex;
}

.activity {
  display: flex;
}

.activity-extras {
  color: #4DAF7C;
  font-size: $font-size-medium;
  display: flex;
  padding: $padding / 2;

  .fa-smile-o {
    margin-left: $margin;
  }
}

.counter {
  display: none;
}

.counter.show-counter {
  display: block;
  @include animation(counter, .5s)
}

@keyframes counter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.submit {
  display: flex;
  align-items: center;
  margin-top: $margin * 1.5;

  .submit-btn {
    flex: 1;
  }
}


.transaction-container-title {
  display: flex;
}

.btn-guideline-info {
  font-size: $font-size-regular;
  color: $text-primary;
  display: flex;
  align-items: center;
}

.btn-label {
  margin-right: $margin * 0.5;
}

.flex-item {
  flex: 1;
}



@media screen and (min-width: 1201px) {

}

@media screen and (max-width: 1200px) {
  textarea {
    height: 4.5rem;
  }

}

@media screen and (max-width: 535px) {
  .btn-label {
    display: none;
  }
}