.create-transaction-container {
  padding: $padding;
  max-height: 100%;
  background: linear-gradient(rgba($dark-blue-color,0.95), rgba($dark-blue-color,0.7));
  border-radius: $border-radius;
  margin-bottom: $margin-bottom;
  overflow: hidden;

  h1 {
    font-size: 150%;
    color: $white-color;
    margin-bottom: $margin-bottom;
  }

  .fa-times {
    float: right;
    font-size: 80%;
    cursor: pointer;
  }

}

.simple_form {
  input {
    margin-right: $whitespace;
    border: none;
    border-radius: $border-radius-small;
    background-color: $simple-form-input-background;
    color: $simple-form-input-text;
    font-size: $font-size-regular;
    width: 100%;
  }

  textarea {
    border: none;
    border-radius: $border-radius-small;
    background-color: $simple-form-input-background;
    color: $simple-form-input-text;
    font-size: $font-size-regular;
    flex: 1;
    resize: none;
  }
}

.transaction-body {
  display: flex;
}

.receiver {
  display: flex;
}

.amount {
  display: flex;
}

.activity {
  display: flex;
  textarea {
    margin-top: $whitespace;
    margin-right: $whitespace;
  }

  .fa-smile-o {
    margin-top: $whitespace;
  }
}

.activity-extras {
  display: flex;
  flex-direction: column;
}

.counter {
  display: none;
  margin-top: $whitespace;
}

.counter.show-counter {
  display: inline-block;
  @include animation(counter, .5s)
}

@keyframes counter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

.transaction-container-title {
  display: flex;
}

.btn-guideline-info {
  font-size: $font-size-regular;
  color: $text-color;
  display: flex;
  align-items: center;
}

.btn-label {
  margin-right: $margin * 0.5;
}

.flex-item {
  flex: 1;
}



@media screen and (min-width: 1201px) {

}

@media screen and (max-width: 1200px) {
  textarea {
    height: 4.5rem;
  }

}

@media screen and (max-width: 535px) {
  .btn-label {
    display: none;
  }
}