///////////////////////////////////////////////////////////
//
// Base dropdown
//
///////////////////////////////////////////////////////////

.dropdown {
  margin-bottom: $margin-bottom;
  background: $primary-color-bg;
  box-shadow: 0 0 1rem rgba($primary-box-shadow, 0.2);
  color: $text-primary;
  font-size: $font-size-medium;
  //border-radius: $border-radius;
  font-weight: 300;

  a {
    display: flex;
    padding: 0.5rem;
    cursor: pointer;
  }
}

.dropdown-container {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #8C7C6C;
  min-height: $dropdown-button-size;
  align-items: center;
}

.dropdown-content {
  height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.dropdown-content.slide-menu {
  height: 100%;
}

.menu-content {
  align-items: center;
  border-top: 1px solid $primary-border-color;
  border-bottom: 1px solid $primary-border-color;
  //color: $text-color;
  font-weight: 300;
  min-height: $dropdown-button-size - 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}


///////////////////////////////////////////////////////////
//
// General dropdown
//
///////////////////////////////////////////////////////////



///////////////////////////////////////////////////////////
//
// Profile dropdown
//
///////////////////////////////////////////////////////////

.current-user {

  img {
    margin-top: -20px;
    height: 3.5rem;
    margin-left: 0.5rem;
    border-radius: $border-radius-small;
    box-shadow: 0 0 1rem rgba($primary-box-shadow, 0.2);
  }

  .fa {
    font-size: $font-size-regular;
    padding-left: $padding-small * 0.5;
  }

  .username {
    line-height: 1.25;
    overflow: hidden;
    padding-left: $padding;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.user-statistics-container {
  display: flex;
  padding-left: $padding-small;
  padding-bottom: $padding-small;
  padding-top: $padding-small;

  .userstatistics {
    text-align: center;
    flex: 1;
    line-height: 1.8rem;
  }

  .userstatistics:not(:last-child) {
    border-right: 1px solid $primary-border-color
  }

  .statistics-title {
    font-size: $font-size-regular;
    color: #5F90B0;
  }

  .statistics-value {
    font-size: $font-size-large - 0.5rem;
    color: #8C7C6C;
  }
}

///////////////////////////////////////////////////////////
//
// Filter dropdown
//
///////////////////////////////////////////////////////////

.filter-container {
  .dropdown {
    justify-self: center;
    flex: 1;
  }

  .dropdown:not(:last-child) {
    margin-right: $margin;
  }

  .fa {
    font-size: $font-size-regular;
    padding-left: $padding-small * 0.5;
  }
}

@media screen and (min-width: 1201px) {

}

@media screen and (max-width: 1200px) {

}