.filter-option {

}

.filter-btn {
  padding: $padding-small;
  height: 100%;
  color: $text-color;
  font-size: 80%;
  font-weight: 300;
  margin-bottom: $margin-bottom;
  background: linear-gradient(rgba($dark-blue-color, 0.8), rgba($dark-blue-color, 0.7));
  border-radius: $border-radius;
}

.send {
}

.received {
  display: inline-block;
}

.fa-square-o {

}

.fa-check-square-o {

}



