.filter {
  display: flex;
  max-width: 60%;
}

.filter-option {
  width: 100%;
  display: flex;
}

.click{
  //flex: 0.5
}

.send {
  flex: 0.5;
}

.received {
  flex: 0.5;
}

.fa-filter {
  padding-left: $whitespace * 0.5;
}

@media screen and (min-width: 535px) {

}

@media screen and (max-width: 535px) {
  .filter-btn {
    width: 100%;
  }
}


