.dropdown {
  width: 100%;
  margin-bottom: $margin-bottom;
  background: linear-gradient(rgba($dark-blue-color,0.95), rgba($dark-blue-color,0.7));
  color: $text-color;
  font-size: $font-size-medium;
  border-radius: $border-radius;
  font-weight: 300;
}

.dropdown-content {
  display: none;
  width: 100%;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 50%;
  padding: $padding-small;
  padding-right: $dropdown-button-size;
  text-align: left;
  color: $text-color;
  min-height: $dropdown-button-size;
  border-top: 1px solid white;

  button, a {
    display: block;
    padding: $padding-small;
  }

  img, i {
    position: absolute;
    right: $padding-small;
    top: 50%;
    width: $dropdown-button-size - ($padding-small * 2);
    height: $dropdown-button-size - ($padding-small * 2);
    transform: translateY(-50%);
  }

  i::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
//
//.dropdown-content .menu-option {
//  border-top: 1px solid $dark-blue-color;
//  margin-top: $margin-top;
//  padding: $padding-small;
//  width: 100%;
//}

//.fa-history {
//  float: right;
//}
//
//.fa-list-ul {
//  float: right;
//}
//
//.fa-paper-plane {
//  float: right;
//}



@media screen and (min-width: 1200px) {

}

@media screen and (max-width: 1200px) {

}