.header {
  margin: 0.5rem auto;
  width: 93.75%;
  max-height: 100%;
  background: linear-gradient($black-color, $dark-blue-color);
  border-radius: $border-radius;
  opacity: 0.85;
  padding: $padding;
  overflow: hidden;
}

.container-header {
  padding: $padding;

  .header-logo {
    max-height: 4rem;
    position: relative;
    float: left;
    margin-bottom: $margin-bottom;
  }

  .title, .subtitle {
    font-family: Orbitron;
    text-align: center;
    vertical-align: middle;
    margin-top: $margin-top;
  }

  .title-border {
    border-bottom: 1px solid $white-color;
  }
}

@media screen and (min-width: 1200px) {
  .container-header {
    text-align: inherit;
  }

  .header-logo {
    padding-left: $padding-small;
  }
}

@media screen and (max-width: 1200px) {

  .header-logo {
    padding-left: 0;
  }
}

@media screen and (max-width: 720px) {

  .title {
    font-size: 160%;
  }

  .title {
    font-size: 140%;
  }

  .header {
    width: 100%;
  }
}
