// Variables

// Colors
$color-yellow: #fffe99;
$color-green: #b6feb7;
$color-gray: #4d4d4d;
$color-gray-light: #999;
$color-black: #070807;
$color-blue: #b1fff8;
$color-red: #fec6a8;
$color-purple: #b584ff;

// Fonts
$font-primary: 'proxima-nova-soft', sans-serif;

// CSS

*,
*::before,
*::after {
  box-sizing: border-box;
}

.kudo-counter {
  background: $primary-bg;
  //border-radius: $border-radius;
  border: 1px solid $primary-border-color;
  color: $text-primary;
  font-weight: 300;
  padding: 1.25rem;
  text-align: center;
  width: 100%;
  margin-bottom: $margin-secondary;
  position: relative;

  &__title {
    font-size: 1.75rem;
    margin-bottom: 0.625rem;

    .fa-times {
      display: none;
    }
  }// .kudo-counter__title

  &__date {
    font-size: 1.375rem;
    margin-bottom: 3.57142857rem; // 50px / 16px
    color: $text-gray
  }// .kudo-counter__title
}// .kudo-counter

.chart {

  svg {
    height: 100%;
    width: 100%;
  }// svg

  &__background {
    fill: none;
    height: 100%;
    position: relative;
    stroke: $primary-stroke-color;
    stroke-width: 20px;
    width: 100%;
  }// .kudo-chart__background

  &__foreground {
    transform: rotate(180deg);
    transition: stroke-dashoffset 1s ease-in;
    fill: none;
    height: 100%;
    left: 0;
    position: absolute;
    stroke-dasharray: 630px;
    stroke-dashoffset: 630px;
    stroke-width: 20px;
    stroke: $secondary-stroke-color;
    top: 0;
    width: 100%;
  }// .kudo-chart__foreground

  &__count {
    color: $color-gray-light;
    font-weight: 400;
    font-size: $font-size-medium;
    position: relative;

    .current-amount {
      font-size: 140%;
      text-align: center;
    }

    div {
      color: $text-primary;
      font-size: 1.375rem;
    }// .kudo-chart__count:after

  }// .kudo-chart__count

  .kudo-currency {
    font-size: 75%;
  }

  .chart__container {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
  }// .chart__container

  &--kudo {
    .chart__container {
      height: 13.75rem; // 220px / 16px
      min-width: 100%;
    }// .chart__container

    .chart__count {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: -150px;


    }// .chart__count

    .next-goal-name {
      overflow: hidden;

      span {
        width: 175px;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
      }
    }

  }// .chart__container

  &--second-goal {
    float: left;
    margin-bottom: 3.125rem;
    text-align: left;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;

    .chart__container {
      height: 1.875rem;
      width: 1.875rem;
    }// .chart__container

    .chart__foreground {
      stroke: $light-grey-color;
    }// .chart__count

    .chart__count {
      color: $color-gray-light;
      display: inline-block;
      font-size: 0.875rem;
      //padding-left: 0.25rem;
      position: relative;
      text-align: left;
      overflow: hidden;
      height: 100%;

      div {
        color: $white-color;
        font-size: $font-size-regular;
      }// div

    }// .chart__count

  }// .chart__container

}// .chart

//@keyframes load {
//  from {
//    opacity: 0;
//  }
//  to {
//    opacity: 1;
//  }
//}

.kudo-counter-background {
  display: none;
}

@media screen and (max-width: 1200px) {
  .kudo-counter__title .fa-times {
    .visible-as-modal & {
      display: block;
      text-align: right;
      float: right;
      cursor: pointer;
    }
  }

  .kudo-counter-background {

    background: rgba($black-color, 0.6);
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;

    .visible-as-modal & {
      display: block;
      animation: kudocounter 0.25s ease-out;
    }
  }

  .kudo-counter {
    margin: 0 auto;
    //background: linear-gradient(rgba($dark-blue-color, 1.0), rgba($dark-blue-color, 0.9));
    display: none;
    position: fixed;
    top: $whitespace * 2; left: 0; right: 0; bottom: $whitespace * 2;
    width: 50%;
    overflow: auto;

    .visible-as-modal & {
      display: block;
      animation: kudocounter 0.25s ease-out forwards;
    }
  }

  @keyframes kudocounter {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 720px) {
  .kudo-counter {
    width: 90%;
  }

}
