.page {
  margin: 2.25rem auto;
  width: 90%;
}

.body {
  margin: 0 auto 53px;
  width: 93.75%;
}

@media screen and (min-width: 1200px) {
  .container-right {
    float: left;
    width: 24%;
    height: 700px;
  }

  .container-center {
    float:left;
    width: 50%;
    height: 700px;
    margin-right: 1%;
    margin-left: 1%;
  }

  .container-left {
    float: left;
    width: 24%;
    height: 700px;
  }
}

@media screen and (max-width: 1200px) {
  .container-right {
    float: none;
  }

  .container-center {
    float: none;
  }

  .container-right {
    float: none;
  }

  .statistics {
    margin-bottom: $margin-bottom;
    display: flex;
  }

  .value {
    font-size: 250%;
    display: inline-block;
    text-align: center;
  }

  .label {
    font-size: 100%;
    display: inline-block;
    text-align: center;
  }

  .transaction-button {
    margin-bottom: 0;
  }

  .statistics {
    display: none;
  }

  #create-transaction-container {
    margin-top: $margin-top;
  }

  .transaction-container {
    margin-bottom: 0;
    margin-top: 2%;
  }

  #create-transaction-container {
    .simple_form {
      textarea {
        rows: 10;
      }
    }
  }
}

