.header-bg {
  width: 100%;
  height: 5rem;
  background: $base-color-brand;
  display: flex;
  justify-content: center;

  .img-container {
    flex: 1;
    height: 100%;
  }

  .github {
    display: flex;
    align-items: flex-start;
  }

  p {
    color: $text-light-gray;
    font-size: $font-size-small;
    text-align: right;
    padding: $padding-secondary;

    a {
      text-decoration: underline;
    }
  }
}

.header {
  align-items: center;
  display: flex;
  width: 83%;
  max-width: 88.75rem; // 1420px / 16px so it stops growing after this width
  height: 100%;
}

.header-img {
  width: 320px;
  margin-top: -$margin-secondary / 2;
}

.mobile-img {
  width: 60px;
  margin-top: $margin-secondary;
  margin-left: $margin-secondary * 2;
  display: none;
}

.page {
  margin: 0 auto;
  width: 90%;
}

.body {
  margin: 0 auto 3.3125rem; // 53px / 16px
  width: 93.75%;
  display: flex;
  margin-top: $margin-primary;
  max-width: 88.75rem // 1420px / 16px, so it stops growing after this width
}

.container-right {
  height: 100%;
  flex: 1;
  min-width: 0; // http://stackoverflow.com/questions/34934586/white-space-nowrap-and-flexbox-did-not-work-in-chrome
  padding: 0 1rem;
  //position: fixed;
}

.container-center {
  flex: 2;
  padding: 0 1rem;
}

.container-left {
  height: 100%;
  flex: 1;
  padding: 0 1rem;
  position: relative;
}

.back-to-top {
  display: none; // button is hidden by default
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: fit-content !important;
}

@media screen and (max-width: 1200px) {
  .body {
    display: flex;
  }

  .container-left {
    flex: 1;
    min-width: 0; // http://stackoverflow.com/questions/34934586/white-space-nowrap-and-flexbox-did-not-work-in-chrome
  }

  .container-center {
    flex: 2;
    margin-right: 0;

  }

  .container-right {
    display: none;

    &.visible-as-modal {
      display: block;
      position: fixed;
    }
  }

  .value {
    font-size: 250%;
    display: inline-block;
    text-align: center;
  }

  .label {
    font-size: 100%;
    display: inline-block;
    text-align: center;
  }

  .statistics {
    display: none;
  }

  .transaction-container {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 720px) {
  .page {
    width: 100%;
    margin: 0 auto;
  }

  .body {
    width: 100%;
    flex-direction: column;
  }

  .header {
    align-items: center;
    display: flex;
    width: 100%;
  }

  .container-center {
    margin: 0;
  }

  .container-left {
    flex: 1 0 auto;
  }

  .header-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }
}

