.page {
  margin: 2.25rem auto;
  width: 90%;
  padding: $padding;
}

.body {
  margin: 0 auto 53px;
  width: 93.75%;
  display: flex;
}

.container-right {
  height: 100%;
  flex: 1;
}

.container-center {
  flex: 2;
  margin-right: 1%;
  margin-left: 1%;
}

.container-left {
  height: 100%;
  flex: 1;
}

@media screen and (min-width: 1200px) {
  .expand-collapse {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .body {
    flex-direction: column;
  }

  .container-center {
    margin: 0;
  }

  .value {
    font-size: 250%;
    display: inline-block;
    text-align: center;
  }

  .label {
    font-size: 100%;
    display: inline-block;
    text-align: center;
  }

  .statistics {
    display: none;
  }

  .create-transaction-container {
    margin-top: $margin-top;
  }

  .transaction-container {
    margin-bottom: 0;
  }
}

