.message-container {

  .fa-times {
    cursor: pointer;
    margin-left: $whitespace;
  }

  .fa-exclamation-circle {
    margin-right: $whitespace;
  }

  .fa-info-circle {
    margin-right: $whitespace;
  }

  .message {
    flex: 1;
  }
}

.show-message {
  @include animation(show-message, 1s);
}

.notice-message,
.error-message {
  padding: $padding;
  background: $primary-color-bg;
  color: $text-primary;
  border-radius: $border-radius-small;
  text-align: center;
  display: flex;
  margin-bottom: $margin-bottom * 2;

  .hide-message & {
    display: none;
  }
}

@keyframes show-message {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  .message-container {
    width: 100%;
  }
}
