.message-container {

  .fa-times {
    cursor: pointer;
    margin-left: $margin-secondary;
  }

  .fa-exclamation-circle {
    margin-right: $margin-secondary;
  }

  .fa-info-circle {
    margin-right: $margin-secondary;
  }

  .message {
    display: flex;
    flex: 1;
    font-weight: 300;

    ul {
      flex: 1;
    }
  }
}

.show-message {
  @include animation(show-message, 1s);
}

.error-message {
  padding: $padding-primary / 2 $padding-secondary * 2.5;
  border-radius: $border-radius-small;
  color: $text-primary;
  text-align: center;
  display: flex;
  margin-bottom: $margin-secondary;

  .hide-message & {
    display: none;
  }
}

.error-message {
  background: $flash-error-bg;
  border: 1px solid $flash-error-border-color;
}

@keyframes show-message {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  .message-container {
    width: 100%;
  }
}
