//
// Variables
// ----------------------

$gray: #333;
$gray-lighter: #eee;
$space: 40px;

.guideline-modal.show-modal, .welcome-modal.show-modal, .emoji-modal.show-modal{
  display: flex;
  @include animation(fadeIn, .25s);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal {

  // This is modal bg
  align-items: center;
  //background: rgba(0,0,0, 0.6);
  display: none;
  justify-content: center;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 10;


}

.emoji-modal {
  .modal-dialog {
    width: 50%;
  }
}

// Modal Dialog
// ----------------------

.modal-dialog {
  background: #fefefe;
  border: $gray solid 1px;
  border-radius: 5px;
  z-index: 11;
  width: 40%;
}

.modal-header {
  color: $text-primary;
}

.modal-subheader {
  display: flex;

  p {
    flex: 1;
  }
}

.modal-body {
  color: $text-primary;
  height: 400px;
  overflow-y: scroll;
  padding: $space/2;

  li {
    display: flex;
    padding: $padding-small 0;
  }

  .g-name {
    flex: 1;
    padding-right: $padding-small;
  }

  .user-liked-list {
    display: flex;

    .user-name-liked {
      flex: 1;
    }

    .user-avatar-liked {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}

.clipboard-guideline,
.clipboard-emoji {
  color: red;
  display: none;
}

.clipboard-guideline.show-clipboard,
.clipboard-emoji.show-clipboard {
  display: block;
  animation: fadeInOut 3s forwards;
}

.welcome-modal ul li {
  display: list-item;
  list-style-type: disc;
  margin-left: $margin-primary;
}

.modal-header,
.modal-footer{
  padding: $space/2.5 $space/2;
}

.modal-header{
  border-bottom: $gray-lighter solid 1px;

  h2 {
    font-size: 20px;
  }
}

.modal-footer{
  border-top: $gray-lighter solid 1px;
  text-align: right;
}

////// Guideline modal
.guideline-modal {
  margin: 0 auto;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 12.5%;
  width: 50%;
  overflow: auto;
}

.guideline-list {
  cursor: pointer;
}

.guideline-container {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.125);
  background: none;

  p {
    font-weight: 300;
    padding: 0.25rem 0;
  }
}

.guideline-modal-background {
  background: rgba($black-color, 0.6);
  display: none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 3;
}

.guideline-modal-background.visible-as-modal {
  display: block;
  animation: kudocounter 0.25s ease-out;
}

.guideline-modal.show-modal {
  display: block;
}

////// Emoji Modal
.emoji-modal {
  margin: 0 auto;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 11%;
  width: 50%;
  overflow: auto;

  p {
    font-weight: 300;
    padding: 0.25rem 0;
  }
}

.emoji-list {

  li {
    cursor: pointer;
    float: left;
    width: 33.33%;
    line-height: 1.2;

    div {
      align-items: center;
      display: flex;
      overflow: hidden;
    }
  }

  .emoji-img {
    margin-right: $margin-secondary;
  }

  .emoji-name {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  img {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.emoji-modal-background {
  background: rgba($black-color, 0.6);
  display: none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 3;
}

.emoji-modal-background.visible-as-modal {
  display: block;
  animation: kudocounter 0.25s ease-out;
}

.emoji-modal.show-modal {
  display: block;
}


////// Help modal
.help-modal {
  margin: 0 auto;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 15%;
  width: 50%;
  overflow: auto;

  .modal-body {
    padding: 0 0 1.125rem;
  }
}

.help-container {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.125);
  background: none;

  p {
    font-weight: 300;
    padding: 0.25rem 0;
  }
}

.help-modal-background {
  background: rgba($black-color, 0.6);
  display: none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 3;
}

.help-modal-background.visible-as-modal {
  display: block;
  animation: kudocounter 0.25s ease-out;
}

.help-modal.show-modal {
  display: block;
}

////// Whats new modal
.whatsnew-modal {
  margin: 0 auto;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 15%;
  width: 50%;
  overflow: auto;

  .modal-body {
    padding: 0 0 1.125rem;
  }
}

.update-container {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.125);
  background: none;
  ul {
    margin-top: $margin-secondary;
    padding: 0 0 0 $padding-primary;

    li {
      display: list-item;
      font-weight: 300;
      list-style-type: disc;
      padding: 0;

    }
  }
}

.whatsnew-modal-background {
  background: rgba($black-color, 0.6);
  display: none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 3;
}

.whatsnew-modal-background.visible-as-modal {
  display: block;
  animation: kudocounter 0.25s ease-out;
}

.whatsnew-modal.show-modal {
  display: block;
}

ul.not-visible {
  display: none;
}

ul.not-visible.is-visible {
  display: block;
}

@media screen and (max-width: 1200px) {
  .modal-dialog {
    width: 90%;
  }

  .emoji-modal {
    .modal-dialog {
      width: 75%;
    }
  }
}

@media screen and (max-width: 720px) {
  .emoji-list {
    li {
      width: 50%;
    }
  }

  .clipboard {
    float:none;
  }

  .modal-subheader {
    flex-direction: column;
  }
}