.profile-content {
  display: none;
  width: 100%;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 50%;
  padding: $padding-small;
  padding-right: $dropdown-button-size;
  text-align: left;
  color: $text-color;
  min-height: $dropdown-button-size;
  border-top: 1px solid white;

  button, a {
    display: block;
    padding: $padding-small;
  }

  img, i {
    position: absolute;
    right: $padding-small;
    top: 50%;
    width: $dropdown-button-size - ($padding-small * 2);
    height: $dropdown-button-size - ($padding-small * 2);
    transform: translateY(-50%);
  }

  i::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

//.profile-content .menu-option {
//  border-top: 1px solid $dark-blue-color;
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: ellipsis;
//  width: 100%;
//  position: relative;
//  padding: $padding-small;
//  padding-right: $dropdown-button-size;
//  text-align: left;
//  color: $text-color;
//  min-height: $dropdown-button-size;
//}

