.settings-container {
  max-width: 700px;
  margin-top: $margin-primary;
  margin-right: auto;
  margin-left: auto;
  background: $primary-bg;
  color: $text-primary;
  border: 1px solid $primary-border-color;
  font-weight: 300;
  padding: 1.25rem;
}

.settings-table {
  width: 100%;

  tr {
    td {
      border: 0.5px solid $primary-border-color;
      padding: $margin-secondary;
    }
  }
}

.settings-table-value {
  width: 10%;
  text-align: center;
}

.settings-checkbox:hover {
  cursor: pointer;
}

.settings-text {
  margin-bottom: $margin-primary;
}

.settings-title {
  @extend .settings-text;

  font-size: 1.75rem;
}