.sign-in-container {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
}

.sign-in {
  background: linear-gradient(rgba($dark-blue-color, 0.95), rgba($dark-blue-color, 0.7));
  border-radius: $border-radius;
  display: flex;
  height: 250px;
  padding: $padding;
  text-align: center;
}

.flex-login {
  align-items: center;
  justify-content: center;
  padding: 0 30%;
}
