.statistics {
  border-radius: $border-radius;
  background: linear-gradient(rgba($dark-blue-color, 0.7), rgba($dark-blue-color, 0.7));
  padding: $padding;
  max-height: 100%;
  margin-bottom: $margin-bottom;
  max-width: none;
  overflow: hidden;

  h1 {
    color: $text-color;
    font-size: $font-size-large;
    font-weight: 300;
  }

  .kudos {
    border-top: solid 1px $white-color;
    padding-top: $padding;

    .month {
      margin-top: $margin-top;
    }
  }

  .all {
    margin-top: $margin-top;
  }

  .value {
    color: $text-color-mark;
    font-size: $font-size-huge;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    //max-width: 50%;
  }

  .label {
    color: $text-color;
    font-size: $font-size-medium;
    display: inline-block;
    vertical-align: middle;
    margin-left: $whitespace * 0.5;
    font-weight: 300;
    width: 40%;
  }
}
