.statistics-container {
  border: 1px solid $primary-border-color;
  border-radius: $border-radius-small;
  background: $primary-bg;
  padding: $padding-secondary * 2.5;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .fa {
    justify-content: flex-start;
  }

  .statistics-main-title {
    font-size: $font-size-medium;
    font-weight: 300;
    text-align: center;
    padding-bottom: $padding-primary;
  }

  .statistics-main-subtitle {
    margin-top: 0.5rem;
    display: flex;
    font-weight: 400;
    justify-content: center;
    padding: 0.5rem;
    box-shadow: 0 0 8px $primary-border-color;
    border-radius: 2px
  }
}

.general-statistics-container {
  display: flex;
  padding: $padding-secondary * 2 0;
  font-weight: 300;

  .generalstatistics {
    text-align: center;
    flex: 1 0 auto;
  }

  .generalstatistics:not(:last-child) {
    border-right: 1px solid $primary-border-color;
  }

  .statistics-value {
    margin-top: $margin-secondary / 2;
    font-weight: 700;
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .statistics-container {
    display: none;
  }
}
