.statistics-container {
  border-radius: $border-radius;
  background: $primary-bg;
  padding: $padding;
  max-height: 100%;
  margin-bottom: $margin-secondary;
  max-width: none;
  overflow: hidden;

  h2 {
    color: $text-primary;
    font-size: $font-size-large;
    font-weight: 300;
  }
}

.general-statistics-container {
  display: flex;
  padding-left: $padding-small;
  padding-bottom: $padding-small;
  padding-top: $padding-small;
  font-weight: 300;

  .generalstatistics {
    text-align: center;
    flex: 1;
    line-height: 1.8rem;
  }

  .generalstatistics:not(:last-child) {
    border-right: 1px solid $primary-border-color;
  }

  .statistics-title {
    font-size: $font-size-regular;
    color: $text-primary;
  }

  .statistics-value {
    font-size: $font-size-large - 0.5rem;
  }
}

@media screen and (max-width: 720px) {
  .statistics-container {
    display: none;
  }
}
