.suggested-guidelines-container {
  background: linear-gradient(rgba($dark-blue-color,0.95), rgba($dark-blue-color,0.7));
  padding: $padding;
  border-radius: $border-radius;
  margin-bottom: $margin-bottom;


  .suggested-guidelines {
    th {
      line-height: 1.5rem;
      text-align: left;
    }

    th.highlighted {
      padding-left: $padding-small;
    }
  }
}