.timeline-container {
  height: 78%;

  .transaction-container {
    background-color: rgba($dark-blue-color, 0.7);
    border-radius: $border-radius;
    max-height: 100%;
    margin-bottom: $margin-bottom;
    overflow: hidden;
    padding: $padding;

    .transaction-header-container {
      max-height: 10%;

      .transaction-kudos-container {
        align-items: center;
        background-color: rgba($dark-blue-color, 0.7);
        border-radius: $border-radius-small;
        display: flex;
        float: left;
        font-size: 140%;
        height: 2.5rem;
        justify-content: center;
        padding: $padding-small;

        .currency {
          font-size: 60%;
          margin-left: -0.3em;
        }
      }
      .transaction-avatar-container {
        display: inline-flex;
        max-width: 2.5rem;
        height: 2.5rem;
        margin-left: $padding-small;

        .sender {
          max-width: 100%;
          border: 1px solid $light-blue-color;
          border-right: 1px solid $light-blue-color;
          border-bottom-left-radius: $border-radius-small;
          border-top-left-radius: $border-radius-small;
        }

        .receiver {
          max-width: 100%;
          border: 1px solid $light-blue-color;
          border-left: none;
          border-bottom-right-radius: $border-radius-small;
          border-top-right-radius: $border-radius-small;
        }

        .flex-item {
          flex: 1;
        }
      }
    }
    .transaction-body-container {
      border-radius: $border-radius-small;
      color: rgba($white-color, 1.0);
      font-size: 110%;
      font-weight: 300;
      height: 100%;
      line-height: 110%;
      margin-top: $margin-top * 0.5;
    }

    .post-time-stamp {
      color: rgba($medium-grey-color, 1.0);
      float: right;
      font-size: 90%;
      font-weight: 300;
      padding-top: $padding;
      text-align: right;
    }
  }
}
