.timeline-container {
  height: 78%;

  .transaction-container {
    background-color: rgba($white-color, 1);
    border-radius: $border-radius;
    box-shadow: 0 0 1px $primary-brand-color-dark;
    max-height: 100%;
    margin-bottom: $margin-bottom * 2;
    overflow: hidden;
    padding: $padding;

    .transaction-header-container {
      max-height: 10%;

      .transaction-kudos-container {
        align-items: center;
        background-color: rgba($primary-brand-color-dark, 1);
        border-radius: $border-radius-small;
        box-shadow: 0 0 1px $primary-brand-color-dark;
        color: $text-color-white;
        display: flex;
        float: left;
        font-size: 140%;
        height: 2.5rem;
        justify-content: center;
        padding: $padding-small;
      }
      .transaction-avatar-container {
        display: inline-flex;
        max-width: 2.5rem;
        height: 2.5rem;
        margin-left: $padding-small;

        .sender {
          max-width: 100%;
          box-shadow: 0 0 1px $primary-brand-color-dark;
          border-right: 1px solid $primary-brand-color-white;
          border-bottom-left-radius: $border-radius-small;
          border-top-left-radius: $border-radius-small;
          background: $light-grey-color;
        }

        .receiver {
          max-width: 100%;
          box-shadow: 0 0 1px $primary-brand-color-dark;
          border-left: none;
          border-bottom-right-radius: $border-radius-small;
          border-top-right-radius: $border-radius-small;
          background: $light-grey-color;
        }

        .flex-item {
          flex: 1;
        }
      }
    }
    .transaction-body-container {
      border-radius: $border-radius-small;
      color: $text-color;
      font-size: 110%;
      height: 100%;
      line-height: 125%;
      margin-top: $margin-top * 0.5;
    }

    .post-time-stamp {
      color: $text-color-mid-grey;
      float: right;
      font-size: 90%;
      font-weight: 300;
      padding-top: $padding;
      text-align: right;
    }
  }
}

.empty-timeline {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 3rem;
  text-align: center;

  .empty-timeline-message {
    font-size: $font-size-medium
  }
}
