.timeline-container {
  height: 78%;

  .transaction-container {
    background: $primary-color-bg;
    border-radius: $border-radius-small;
    box-shadow: 0 0 1rem rgba($primary-box-shadow, 0.2);
    max-height: 100%;
    margin-bottom: $margin-bottom * 2;
    overflow: hidden;
    padding: $padding;

    .transaction-header-container {
      max-height: 10%;

      .transaction-kudos-container {
        align-items: center;
        border-radius: $border-radius-small;
        border: 0.125rem solid $secondary-border-color;
        color: $text-tertiary;
        display: flex;
        float: left;
        font-size: 140%;
        height: 2.5rem;
        justify-content: center;
        width: 5.5rem;
        padding: $padding-small;
      }
      .transaction-avatar-container {
        display: inline-flex;
        max-width: 2.5rem;
        height: 2.5rem;
        margin-left: $whitespace + 0.25rem;

        .sender {
          max-width: 100%;
          box-shadow: 0 0 1rem rgba($primary-box-shadow, 0.3);
          border-right: 1px solid $secondary-border-color;
          border-bottom-left-radius: $border-radius-small;
          border-top-left-radius: $border-radius-small;
          background: $secondary-color-bg;
        }

        .receiver {
          max-width: 100%;
          box-shadow: 0 0 1rem rgba($primary-box-shadow, 0.3);
          border-left: none;
          border-bottom-right-radius: $border-radius-small;
          border-top-right-radius: $border-radius-small;
          background: $secondary-color-bg;
        }

        .flex-item {
          flex: 1;
        }
      }
    }
    .transaction-body-container {
      border-radius: $border-radius-small;
      color: $text-primary;
      font-size: 110%;
      height: 100%;
      line-height: 125%;
      margin-top: $margin-top * 0.5;
    }

    .post-time-stamp {
      color: $text-time-stamp;
      float: right;
      font-size: 90%;
      font-weight: 300;
      padding-top: $padding;
      text-align: right;
    }
  }
}

.empty-timeline {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 3rem;
  text-align: center;

  .empty-timeline-message {
    font-size: $font-size-medium
  }
}
