header {
    text-align: center;
    min-height: 3.5em;
    margin: 1em;

    strong {
        font-size: 2.5em;
        white-space: nowrap;

        span {
            opacity: 0.4;
        }
    }

    img {
        vertical-align: baseline;
        margin: 0 0.5em;
        height: 3.5em;
        display: inline-block;
    }
}
li {
  list-style-type: none;
}

.flex_dummy_div{
}
.container.center{
  flex:6;
  font-size:1.5em !important;
}
.jarwrapper{
  flex: 3 !important;
  position:relative;
  transition: transform 1s ease-in-out;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  overflow:hidden;
  font-size:2em;

}

.title{
  font-weight: bold;
  font-size: 15px;
  margin-top: 11px;
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 5px;
}

.small-title {
  font-size: 1em;
  color:rgba(255, 255, 255, 0.7)
}

.jarlid {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  height: 50px;
  width: 200px;
  background: rgba(227, 131, 15, 0.59);
  border-radius: 20% 20% 0% 0%;
  border: 1px solid;
  border-bottom: 0;
  border-right: 3px solid;
  border-top: 3px solid;
  border-left: 3px solid;
  border-color: rgba(255,255,255,1);
  top: -5px;
}

.progress {
  clear: both;
  background: rgba(255,255,255,.1);
  border: 6px solid #fff;
  border-radius: 8px;
  height: 270px;
  width: 320px;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10% 15% 15% 10%;
  border: 3px solid;
  border-left: 15px solid;
  border-color: rgba(255,255,255,.7);
  overflow: hidden;
}

.progress-bar-kudos {
  -webkit-box-shadow: none;
  box-shadow: none;

  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  background-color: rgba(217, 61, 61, 0.74);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s cubic-bezier(0, 0, 0.32, 1.47);
}

.topinnerwrapper{
  display:flex;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  height: 381px;
  > * {
    flex: 1;
    justify-content: center;
    //border: solid 1px;
  }
}

.bottomouterwrapper{

}

.bottominnerwrapper{
  display:flex;
}

.guidelines_container{
  overflow-y: scroll;
  height: 290px;
}

span.guidelines_static{
  margin-top:16px !important;
  display: block;
}
span.guidelines_dynamic{
  margin-top:16px !important;
  display: block;
}

.last-transactions {
  width: 1300px;
  margin:auto;
}

.post-container{
  margin:25px;
  font-size:20px;

}
.post-container > div {
  display: inline-block;

}

.post-container > span{

}
.sendername{
  color:rgb(9, 67, 119);
}

.receivername{
  color: rgb(9, 67, 119);
}

.amountofkudos{

}

.activityname{

}

.post-time-stamp{
  font-size:16px;
}
.like-btn{
  float:right;

  position: relative;
}
.btn-info {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-color: #ffffff;
}

.btn-info .badge {
  color:#fff;
  background-color: rgba(255, 255, 255, 0);
}

.poll button.btn.btn-info {

  color: rgba(255, 255, 255, 0.7);
}

.poll a{
  color: rgba(255, 255, 255, 0.7);
  width:100px;
  transition: left 1s;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
}

.poll a:hover{
  left:5px;
}

.dynamicmessage{
  font-weight: bold;
  font-size: 1.5em;
}

#kudoamount{
  font-size:1.5em;
}
.story{
  position: relative;
  color: rgba(255, 255, 255, 0.7);
}

.dashboard_transaction{
  color: rgba(255, 255, 255, 0.7);
  flex:5;
}

#call-to-action {
  top: 45px;
  position: relative;
  font-size: 1em;
}

.cta-label{
  z-index: 1;
  text-align: center;
  background-color: rgba(243, 205, 157, 0.6);
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 210px;
  max-height: 135px;
  border-radius: 10%;
  border: 1px solid;
  border-color: rgba(255,255,255,1);

}

.cta-label p{
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  color: rgba(72, 31, 31, 0.7);
  font-size:30px;

}

.cta-label p:nth-child(1){

}

.cta-label p:nth-child(2){

}

.add-transaction-link {
  height:100%;
}

.current-goal {
  margin: 2em 3em;
}
.previous-goal {

}
.next-goal {
  text-align: right;
  z-index: 50;
  position: relative;
}

.loader {
  height: 300px;
  width: 250px;
  margin: auto;
  position:relative;
  .fix-loader &{
    position:fixed;
    input {
    }
  }
}

.jarwrapper .movement{
  transform: translateY(-3px);
}

.jarwrapper:hover{
  transform: translateY(3px);
  #lid{
    top:-6px;
    text-decoration:none!important;
  }
}

#lid{
  position: relative;
  height: 50px;
  width: 200px;
  margin: auto;
  background: rgba(227, 131, 15, 0.59);
  border-radius: 20% 20% 0% 0%;
  border: 1px solid;
  border-bottom: 0;
  border-right: 3px solid;
  border-top: 3px solid;
  border-left: 3px solid;
  border-color: rgba(255,255,255,1);
  overflow: hidden;
  top: 5px;
  transition: top 1s;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
}



#lid p {
  text-decoration: none !Important;
  font-size: 0.6em;
  margin-top: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-weight: inherit !important;
}

#lid p:hover{
  text-decoration:none;
}

#toppart{
  position: relative;
  height: 30px;
  background: rgba(255,255,255,.1);
  border-radius: 50% 50% 0% 0%;
  border-bottom: 0;
  border-right: 3px solid;
  border-top: 4px solid;
  border-left: 3px solid;
  border-color: rgba(255,255,255,.7);
  overflow: hidden;

}


#glass {
  position: relative;
  height: 100%;
  background: rgba(255,255,255,.1);
  border-radius: 0% 0% 15% 15%;
  border: 3px solid;
  border-top: 0;
  border-bottom: 20px solid;
  border-color: rgba(255,255,255,.7);
  overflow: hidden;
}
#textonjar {
  top: 61px;
  z-index: 35;

  position: relative;
  text-align: left;
  margin-left: 5px;
  font-weight: bold;
  font-size: 2em;
  color: rgba(255,255,255,0.7);
}

#drink {
  position: absolute;
  top:100%; right:0; bottom:0; left:0;
  opacity: .7;
}


#counter {
  position: relative;
  top: -30px;
  font-size: 2.2em;
  color: rgba(255,255,255,1);
}



#cubes {
  position: absolute;
  top:0; right:0; bottom:0; left:0;

}
#cubes div {
  display: none;
  position: absolute;
  width: 100%;
  height: 58px;
  background-image: image-url("kudocoins.png");
  background-position: center;
  background-size:cover;

}
#cubes div:nth-child(1) {
  bottom:0;
}
#cubes div:nth-child(2) {
  bottom: 23px;
  left: -4px;
}
#cubes div:nth-child(3) {
  bottom: 33px;
  left: 1px;
}
#cubes div:nth-child(4) {
  bottom:49px; left:2px;
}

#cubes div:nth-child(5) {
  bottom:51px; left:-10px;
}
#cubes div:nth-child(6) {
  bottom: 63px;
  left: -14px;
}
#cubes div:nth-child(7) {
  bottom: 77px;
  left: 13px;
}
#cubes div:nth-child(8) {
  bottom:84px; left:20px;
}

#cubes div:nth-child(9) {
  bottom:90px; left:-20px;
}

#cubes div:nth-child(10) {
  bottom: 111px;
  left: 6px;
}
#cubes div:nth-child(11) {
  bottom: 125px;
  left: 2px;
}
#cubes div:nth-child(12) {
  bottom:131px;
}

#cubes div:nth-child(13) {
  bottom: 144px;
  left: -3px;
}
#cubes div:nth-child(14) {
  bottom: 156px;
  left: 16px;
}
#cubes div:nth-child(15) {
  bottom:175px; left:15px;
}

#cubes div:nth-child(16) {
  bottom: 180px;
  left: -8px;
}
#cubes div:nth-child(17) {
  bottom: 205px;
  left: -3px;
}
#cubes div:nth-child(18) {
  bottom:210px; left:15px;
}

#cubes div:nth-child(19) {
  bottom: 220px;
  left: -13px;
}
#cubes div:nth-child(20) {
  bottom:220px; left:-20px;
}


#coaster {
  width: 130%; height: 4px;
  margin-left: -15%;
  background: steelblue;
  border-radius: 2px;
}

/*Transaction page*/

input, button, select, textarea {
  background: none;
  border: none;
}

a.reference{
  font-size:1.5em;
}

.col-md-7 > span {

}
