body {
  font: normal 100% Roboto, PT Sans, Sans-Serif;
  color: #666;
  background: url('https://wallpaperscraft.com/image/spot_sky_lines_85072_1920x1080.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  //background: #E6DADA; /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #E6DADA , #274046); /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #E6DADA , #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#create-transaction-container h1 {
  font: 300 150% Roboto, PT Sans, Sans-Serif;
  color: rgba(255, 255, 255, 1.0);
  margin-bottom: 5px;
}

.page {
  margin: 36px auto;
  width: 90%;
}

.header {
  margin: 1em auto;
  width: 93.75%;
  //background-color: #46494C;
  background: linear-gradient(#000000, #00264C);
  border-radius: 8px;
  opacity: 0.85;
}

.container-logo {
  padding: 0.5em;
}

.logo {
  max-height: 75px;
  max-width: 75px;
}

.body {
  margin: 0 auto 53px;
  width: 93.75%;
}

.transaction-button {
  font-size: 120%;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  background: linear-gradient(rgba(0,38,76,0.95), rgba(0,38,76,0.7));
  border: none;
  margin-bottom: 2%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}

.transaction-button:hover {
  color: #000000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}

#create-transaction-container {
  padding: 0.8em;
  max-height: 25%;
  background: linear-gradient(rgba(0,38,76,0.95), rgba(0,38,76,0.7));
  border-radius: 8px;
  display: none;
  margin-bottom: 2%;
}

.simple_form .receiver input {
  border: none;
  background-color: rgba(234,234,234,1.0);
  color: black;
  float:left;
  width: 50%;
  border-radius: 4px;
}

.simple_form .amount input {
  margin-left: 5px;
  border: none;
  background-color: rgba(234,234,234,1.0);
  color: black;
  float:left;
  width: 15%;
  border-radius: 4px;
}

.simple_form .currency {
  margin-left: 0.3em;
  color: white;
}

.simple_form .activity textarea {
  margin-top: 10px;
  resize: none;
  width: 100%;
  border: none;
  background-color: rgba(234,234,234,1.0);
  color: black;
  border-radius: 4px;
}

.simple_form #send-kudos-button  {
  margin-top: 5px;
  border-radius: 4px;
  color: rgba(102, 102, 102, 1.0);
  background-color: rgba(234,234,234,1.0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}

#send-kudos-button:hover {
  color: #000000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}

.fa-paper-plane {
  color: rgba(234,234,234,1.0);
}

.timeline-container {
  height: 78%;
}

.timeline-container .transaction-container {
  padding: 0.8em;
  background-color: rgba(0,38,76,0.7);
  max-height: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
}

.kudos-amount-large {
  max-height: 10%
}

.timeline-container .transaction-container #kudos-container {
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(0,38,76,0.7);
  font-family: Roboto;
  height: 100%;
  max-width: 100%;
  font-size: 140%;
  text-align: center;
  float: left;
  padding: 0 0.2em;
  border-radius: 4px;
}

.avatar-receiver {
  max-width: 30px;
  max-height: 100%;
  display: inline-block;
}

#avatar {
  margin-left: 0.5em;
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.timeline-container .transaction-container .transaction-content {
  color: rgba(255, 255, 255, 1.0);
  font-size: 100%;
  margin-top: 5px;
  border-radius: 4px;
  height: 100%;
}

.transaction-content .amount {
  color: yellow;
}

.transaction-content .receiver {
  color: #7dabde;
}

.transaction-content .activity {
  color: darkkhaki;
}

.transaction-container #kudos-container .currency {
  margin-left: -0.3em;
  font-size: 60%;
}

#like-button {
  color: rgba(102, 102, 102, 1.0);
  margin-top: 5px;
  border-radius: 4px;
  background-color: rgba(234,234,234,1.0);
}

.post-time-stamp {
  text-align: right;
  padding-top: 0.8em;
  float: right;
  color: rgba(234,234,234,1.0);
}

@media screen and (min-width: 1200px) {
  .container-right {
    padding: 0 0.5em;
    float: left;
    width: 24%;
    height: 700px;
    border-radius: 8px;
  }

  .container-center {
    float:left;
    width: 50%;
    height: 700px;
    margin-right: 1%;
    margin-left: 1%;
  }

  .container-left {
    padding: 0 0.5em;
    float: left;
    width: 24%;
    height: 700px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 1200px) {
  .container-right {
    float: none;
  }

  .container-center {
    float: none;
  }

  .container-right {
    float: none;
  }
}