@import url(https://fonts.googleapis.com/css?family=Oxygen:300,700&subset=latin,latin-ext);

body, html {
  background-image: radial-gradient(circle at 1px -500px, #222221 0.1%, #544946 10%, #585f64 50%, #679ebf 100%);
  color: #ffffff;
  font-family: 'Myriad Pro', 'Oxygen', sans-serif;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* { box-sizing: border-box; }
html { height: 100%; }
body {
  position: relative;
  margin: 0;
  height: 100%;

  font-family: 'Lato', sans-serif;
  overflow:auto;

}

strong {
  font-weight: 700;
}

a.reference {
  color: white;
  font-size: 0.5em;
}
