@import url(https://fonts.googleapis.com/css?family=Oxygen:300,700&subset=latin,latin-ext);

body, html {
    background-color: #4073F3;
    color: #ffffff;
    font-family: 'Myriad Pro', 'Oxygen', sans-serif;
    font-weight: 100;
    font-size: 1.3em;
}

strong {
    font-weight: 700;
}

input {
  color: blue;
}

.center {
  text-align: center;
}
