// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#transaction_sender, #transaction_receiver {
  width: 200px;
}
#transaction_amount {
  width: 110px;
}
#transaction_activity {
  width: 400px;
}
