// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_transaction {
  input[type=text], input[type=number] {
    border: none;
    background: none;
    width: 200px;

    &:focus {
      border: none;
    }
  }

  input[type=submit] {
    background: white;
    color: #4073F3;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.7em;
  }
}

#transaction_amount {
  width: 60px;
}
#transaction_activity {
  width: 400px;
}
