// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_transaction {
  input[type=text], input[type=number] {
    border: none;
    background: none;
    width: 150px;
    padding-bottom: 3px;
    border-bottom: 1px solid white;

    &:focus {
      outline: none;
      border-bottom: 1px solid white;
    }
  }

  input[type=submit] {
    margin-top: 1em;
    background: #b58342;
    color: rgba(255,255,255,0.7);
    border: none;
    border-radius: 10px;
    font-size: 2em;
  }
}

#transaction_amount {
  width: 75px;
}
#transaction_activity {
  width: 250px;
}

::-webkit-input-placeholder {
   color: #ddd;
   font-size: smaller;
   opacity: 0.5
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten(#4073F3, 10%);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten(#4073F3, 10%);
}

:-ms-input-placeholder {  
   color: red;  
}

.guidelines {
  font-size: 0.7em;
  td {
    padding: 4px 10px;
    border-bottom: 1px solid lighten(#4073F3, 10%);
  }
}