.filter-container
  .filter-options
    %span
      Filter
    .filter-button
      %button.btn.btn-secondary.btn-filter
        All transactions
      .filter-content
        .menu-tooltip
        %a.menu-content.all-transactions{href:"#"}
          All transactions
        %a.menu-content.my-transactions{href:"#"}
          My total transactions
        %a.menu-content.send-transactions{href:"#"}
          My given transactions
        %a.menu-content.received-transactions{href:"#"}
          My received transactions
    .ajax-preloader
      = image_tag 'preloader.gif'
    .delete-filter-container
      .delete-filter
        delete filter
        %i.fa.fa-times