.calorie-counter
  .calorie-counter__title
  .calorie-counter__date
    Wednesday Jan 27, 2016

  .chart.chart--calorie.js-chart{'data-goal':'1700', 'data-count':'550'}
    .chart__container

      %svg.chart__background{x:'0px', y:'0px', height:'220px', viewBox:'0 0 220 220'}
        %g
          %path{d:'M110,210c-55.1,0-100-44.9-100-100C10,54.9,54.9,10,110,10s100,44.9,100,100C210,165.1,165.1,210,110,210z'}
      %svg.chart__foreground{x:'0px', y:'0px', height:'220px', viewBox:'0 0 220 220'}
        %g
          %path{d:'M110,210c-55.1,0-100-44.9-100-100C10,54.9,54.9,10,110,10s100,44.9,100,100C210,165.1,165.1,210,110,210z'}

    .chart__count
      %div
        %span.js-count{'data-count':'525'}
          0
        /
        %span.js-count{'data-count':'1700'}
          0
      Your goal

  .chart.chart--protein.js-chart{'data-goal':'37', 'data-count':'30'}
    .chart__container

      %svg.chart__background{x:'0px', y:'0px', height:'220px', viewBox:'0 0 220 220'}
        %g
          %path{d:'M110,210c-55.1,0-100-44.9-100-100C10,54.9,54.9,10,110,10s100,44.9,100,100C210,165.1,165.1,210,110,210z'}
      %svg.chart__foreground{x:'0px', y:'0px', height:'220px', viewBox:'0 0 220 220'}
        %g
          %path{d:'M110,210c-55.1,0-100-44.9-100-100C10,54.9,54.9,10,110,10s100,44.9,100,100C210,165.1,165.1,210,110,210z'}

    .chart__count.chart__count--protein
      %div
        %span.js-count{'data-count':'30'}
          0g
        /
        %span.js-count{'data-count':'45'}
          0g
      Protein

  .chart.chart--carbs.js-chart{'data-goal':'120', 'data-count':'35'}
    .chart__container

      %svg.chart__background{x:'0px', y:'0px', height:'220px', viewBox:'0 0 220 220'}
        %g
          %path{d:'M110,210c-55.1,0-100-44.9-100-100C10,54.9,54.9,10,110,10s100,44.9,100,100C210,165.1,165.1,210,110,210z'}
      %svg.chart__foreground{x:'0px', y:'0px', height:'220px', viewBox:'0 0 220 220'}
        %g
          %path{d:'M110,210c-55.1,0-100-44.9-100-100C10,54.9,54.9,10,110,10s100,44.9,100,100C210,165.1,165.1,210,110,210z'}

    .chart__count.chart__count--carbs
      %div
        %span.js-count{'data-count':'35'}
          0g
        /
        %span.js-count{'data-count':'120'}
          0g
      Carbs

  .calorie__count

    .calorie__count__remaining
      %span.js-count{'data-count':'1150'}
        0
      Remaining

    .calorie__count__consumed
      %span.js-count{'data-count':'550'}
        0
      Consumed