.help-modal-background
.modal-dialog.help-modal
  .modal-header
    %h2
      How does it work?
    .modal-subheader

  .modal-body
    .help-container
      %h3
        How do I give ₭udo's to someone?
      %p
        To give ₭udos all you have to do is fill out the 3 form fields.
        Click the 'Give Kudos' button and that's it!
    .help-container
      %h3
        How do I give ₭udo's to multiple colleagues?
      %p
        You can give ₭udo's to multiple people by giving the Kudo's to them as a team. For example three people on the same project.
    .help-container
      %h3
        How can I add emoji's to my ₭udo transaction?
      %p
        You can add emoji's with the emoji picker
        %i.fa.fa-smile-o
        = "in the ₭udo transaction form or by writing a ':' to see a list pop out (e.g. :wink: = \u{1F609})"
    .help-container
      %h3
        I want to give ₭udo's but I don't know how much, are there guidelines for these cases?
      %p
        You can read the guidelines via the
        %i.fa.fa-info-circle
        button in the ₭udo transaction form. Remember that these are
        %u guidelines
        so you don't have to follow them!
    .help-container
      %h3
        How can I filter transactions?
      %p
        You can filter your own transactions by clicking the transaction statistics in your own profile or by clicking on the filter menu above the transaction timeline.
    .help-container
      %h3
        What is the underlying thought of liking a transaction?
      %p
        By liking a transaction you can show your appreciation for something as well. Every like is +1 ₭ on the transaction.
  .modal-footer
    %button.btn.btn-primary.btn-close.close-help
      Close