.kudo-counter-dashboard-container
  .kudo-balance-statistics-container
    .statistics-main-title
      %span
        Dashboard
        .fa.fa-line-chart
    .kudo-balance-statistics
      %span.statistics-title
        Current
      %span.statistics-value
        = "#{Balance.current.amount} ₭"

      -#.chart.chart--second-goal.js-chart{'data-goal':Goal.next.amount, 'data-count':Balance.current.amount}
        .chart__container

          %svg.chart__background{x:'0px', y:'0px', height:'220px', viewBox:'0 0 220 220'}
            %g
              %path{d:'M110,210c-55.1,0-100-44.9-100-100C10,54.9,54.9,10,110,10s100,44.9,100,100C210,165.1,165.1,210,110,210z'}
          %svg.chart__foreground{x:'0px', y:'0px', height:'220px', viewBox:'0 0 220 220'}
            %g
              %path{d:'M110,210c-55.1,0-100-44.9-100-100C10,54.9,54.9,10,110,10s100,44.9,100,100C210,165.1,165.1,210,110,210z'}
    .kudo-balance-statistics
      %span.statistics-title
        = Goal.next.name
      %span.statistics-value
        %span.js-count{'data-count': Goal.next.amount}
          = Goal.next.amount
        %span.currency
          ₭
    .kudo-balance-statistics.see-more
      -#%span.statistics-title

      %span.statistics-text
        %span.see-more-text
          See More
        %span.fa.fa-chevron-right
