- if !flash[:error].blank?
  .message-container.show-message
    .error-message
      %span.message
        .fa.fa-exclamation-circle
        = flash[:error]
      %span
        .fa.fa-times.close-message