- if notice
  .message-container.show-message
    .error-message.margin-bottom
      %span.message
        .fa.fa-exclamation-circle
        #notice= notice
      .fa.fa-times.close-message

- if @transaction.errors.any?
  .message-container.show-message
    .error-message.margin-bottom
      %span.message
        .fa.fa-exclamation-circle
        %ul
          - @transaction.errors.full_messages.each do |msg|
            %li
              = msg.capitalize
      %span
        .fa.fa-times.close-message
