- if current_user.confirmed_at == nil
  .message-container.show-message
    .warning-message.margin-bottom
      %span.message
        .fa.fa-exclamation-circle
        %div
          Please confirm your e-mail within #{unconfirmed_access_hours_left(current_user)} hours to keep access to your account.
          Unconfirmed accounts get deleted after 3 days.
          = link_to "Didn't receive confirmation instructions?", new_user_confirmation_path

- if notice
  .message-container.show-message
    .error-message.margin-bottom
      %span.message
        .fa.fa-exclamation-circle
        #notice= notice
      .fa.fa-times.close-message

- if @transaction.errors.any?
  .message-container.show-message
    .error-message.margin-bottom
      %span.message
        .fa.fa-exclamation-circle
        %ul
          - @transaction.errors.full_messages.each do |msg|
            %li
              = msg.capitalize
      %span
        .fa.fa-times.close-message
