.whatsnew-modal-background
.modal-dialog.whatsnew-modal
  .modal-header
    %h2
      Releases
  .modal-body
    .update-container
      %h4
        Release v3.0.0
        %ul
          %li
            Mail:
            %ul
              %li
                Receive notifications when you receive ₭udos.
              %li
                Receive notifications when a ₭udo goal is reached.
              %li
                Receive a weekly ₭udo summary.
          %li
            Slack:
            %ul
              %li
                Receive personalized notifications and reminders.
              %li
                Give ₭udos with the /kudo command.
              %li
                Give ₭udos by adding the :kudo: reactji to a message of a ₭udo-o-Matic user.
              %li
                Like ₭udo transactions using the like button.
          %li
            User interface:
            %ul
              %li
                Settings page for connecting with Slack and configuring mail preferences.
              %li
                Single ₭udo transaction page, used for sharing transactions by URL.
              %li
                Button on the homepage for navigating back to the top.
          %li
            Administrator dashboard:
            %ul
              %li
                User deactivation system.
              %li
                Implemented checks that prevent removing important data entries.
          %li
            Under the hood improvements and bug fixes:
            %ul
              %li
                REST API for the upcoming ₭udo-o-Mobile app.
              %li
                Asynchronous image uploads and Slack communication.
    .update-container.clickable
      %h4
        Release v2.1.0
        %i.fa.fa-chevron-right
        %ul.not-visible
          %li
            Each like will add 1 ₭ to the transaction
          %li
            Like Transactions without reloading the page
          %li
            Filter your own transactions out
          %li
            Add attachments to a transaction (.jpg, .png and .gif supported (up to 10mb file size)
          %li
            You will receive a ₭udo reminder in Slack every thursday
          %li
            Other minor bug fixes
    .update-container.clickable
      %h4
        Release v2.0.0
        %i.fa.fa-chevron-right
        %ul.not-visible
          %li
            New application design
          %li
            You can now like transactions
            = "\u{1F44D}"
          %li
            Add emoji's to your ₭udo transaction
            = "\u{1f4a9} \u{1F601}"
          %li
            Multiple goals are now visible on the ₭udo Meter
          %li
            Other minor bug fixes
    .update-container.clickable
      %h4
        Release v1.1.0
        %i.fa.fa-chevron-right
        %ul.not-visible
          %li
            Slack Notifications are send when someone gives kudo's and when a goal is achieved
          %li
            Autocomplete username is working also on Safari and Firefox
          %li
            Other minor bug fixes
    .update-container.clickable
      %h4
        Release v1.0.2
        %i.fa.fa-chevron-right
        %ul.not-visible
          %li
            Feed with last transactions
    .update-container.clickable
      %h4
        Release v1.0.1
        %i.fa.fa-chevron-right
        %ul.not-visible
          %li
            Bugfix previous goal
  .modal-footer
    %button.btn.btn-primary.btn-close.close-whatsnew
      Close
