.guideline-modal-background
.modal-dialog.guideline-modal
  .modal-header
    %h2
      Kudo Guidelines
    .modal-subheader
      %p
        Click to copy guideline to clipboard
      %span.clipboard-guideline
        Copied!
  .modal-body
    %ul
      - current_team.guidelines.each do |g|
        %li.guideline-list{'data-clipboard-text':g.name}
          %span.g-name
            = g.name
          %span
            = g.kudos
  .modal-footer
    %button.btn.btn-primary.btn-close.close-guidelines
      Close
