.statistics-container
  %h2
    Transactions
  .general-statistics-container
    .generalstatistics
      %span.statistics-title
        Week
      %br
      %span.statistics-value
        = @weekly_transactions
    .generalstatistics
      %span.statistics-title
        Month
      %br
      %span.statistics-value
        = @monthly_transactions
    .generalstatistics
      %span.statistics-title
        Total
      %br
      %span.statistics-value
        = @all_transactions
  -#%h1.kudos
  -#  Kudo's
  -#  .month
  -#    .value
  -#      = Transaction.where(created_at: (Time.now.beginning_of_month..Time.now.end_of_month)).where(balance: Balance.current).sum(:amount)
  -#    .label
  -#      this month
  -#  .week
  -#    .value
  -#      = Transaction.where(created_at: (Time.now.beginning_of_week(start_day = :monday)..Time.now.end_of_week())).where(balance: Balance.current).sum(:amount)
  -#    .label
  -#      this week