.welcome-modal-background
.modal-dialog.welcome-modal
  .modal-header
    %h2
      ₭udo-o-Matic 3.0
  .modal-body#version
    %h3
      = "Connect the ₭udo-o-Matic with Slack \u{1f514}"
    %br
    %p
      To start using the new Slack functionality, you must sign in to Slack:
    %br
    %p
      %a{href: user_slack_omniauth_authorize_path}
        %img{alt: 'Sign in with Slack', width: '172', height: '40', src: 'https://platform.slack-edge.com/img/sign_in_with_slack.png',
        srcset: 'https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x' }
    %br
    %h3
      What's new?
    %br
    %ul
      %li
        Mail:
        %ul
          %li
            Receive notifications when you receive ₭udos.
          %li
            Receive notifications when a ₭udo goal is reached.
          %li
            Receive a weekly ₭udo summary.
      %li
        Slack:
        %ul
          %li
            Receive personalized notifications and reminders.
          %li
            Give ₭udos with the /kudo command.
          %li
            Give ₭udos by adding the :kudo: reactji to a message of a ₭udo-o-Matic user.
          %li
            Like ₭udo transactions using the like button.
      %li
        User interface:
        %ul
          %li
            Settings page for connecting with Slack and configuring mail preferences.
          %li
            Single ₭udo transaction page, used for sharing transactions by URL.
          %li
            Button on the homepage for navigating back to the top.
      %li
        Administrator dashboard:
        %ul
          %li
            User deactivation system.
          %li
            Implemented checks that prevent removing important data entries.
      %li
        Under the hood improvements and bug fixes:
        %ul
          %li
            REST API for the upcoming ₭udo-o-Mobile app.
          %li
            Asynchronous image uploads and Slack communication.
  .modal-footer
    %button.btn.btn-primary.btn-close.close-welcome
      Close