.welcome-modal
  .modal-dialog
    .modal-header
      %h2
        The ₭udo Jar
    .modal-body#version
      %h3
        What's new?
      %ul
        %li
          Slack Notifications are send when someone gives Kudo's and when a goal is achieved
        %li
          Autocomplete receiver name is fixed on Safari and Firefox
        %li
          Guidelines are now better arranged in a modal
        %li
          Other minor bug fixes
      %h3
        How does it work?
      %ul
        %li
          To give ₭udos all you have to do is fill in 3 fields: 'To', 'Amount' and 'For'.
        %li
          Click the 'Give Kudos' button and that's it!
        %li
          Check out the timeline for your kudo-transaction! And those of your colleagues
        %li
          Need help with deciding how many ₭udos you want to give someone? Read the guidelines!
    .modal-footer
      %button.btn.btn-primary.btn-close.close-welcome
        Close