.welcome-modal
  .modal-dialog
    .modal-header
      %h2
        The ₭udo-o-Matic
    .modal-body#version
      %h3
        What's new?
      %ul
        %li
          New application design
        %li
          = "Like transactions \u{1F44D}"
        %li
          Add emoji's to your ₭udo transaction
          = "\u{1f4a9} \u{1F601}"
        %li
          Multiple goals are now visible on the ₭udo Meter
        %li
          Other minor bug fixes
      %br
      %h3
        How does it work?
      %ul
        %li
          To give ₭udos all you have to do is fill in 3 fields: 'To', 'Amount' and 'For'.
        %li
          Click the 'Give Kudos' button and that's it!
        %li
          Check out the timeline for your kudo-transaction! And those of your colleagues
        %li
          Need help with deciding how many ₭udos you want to give someone? Read the guidelines!
    .modal-footer
      %button.btn.btn-primary.btn-close.close-welcome
        Close