.welcome-modal-background
.modal-dialog.welcome-modal
  .modal-header
    %h2
      The ₭udo-o-Matic
  .modal-body#version
    %h3
      What's new?
    %ul
      %li
        Each like will add 1 ₭ to the transaction
      %li
        Filter transactions
      %li
        Add attachments to a transaction (.jpg, .png and .gif supported (up to 10mb file size)
      %li
        You will receive a ₭udo reminder in Slack every thursday
      %li
        Other minor bug fixes
    %br
    %h3
      How does it work?
    %ul
      %li
        To give ₭udos all you have to do is fill out the 3 form fields.
      %li
        Click the 'Give Kudos' button and that's it!
      %li
        Check out the timeline for your kudo-transaction! And those of your colleagues
      %li
        Need help with deciding how many ₭udos you want to give someone? Read the guidelines!
  .modal-footer
    %button.btn.btn-primary.btn-close.close-welcome
      Close