.container.center
  .row
    .col-md-12
      %h1 ₭udo Guidelines
      %table.guidelines
        - Transaction::GUIDELINES.each do |name, value|
          %tr
            %td= name
            %td= value
