%body
  .page
    .header
      .container-header
        %img.header-logo{src:'https://www.kabisa.nl/images/kabisa-logo-d9ace243.png'}
    .body
      .container-left
        -#= render 'dashboard/guideline-modal'

      .container-center
        -#= render 'dashboard/transaction'
        #results
          -#= render 'dashboard/timeline'
      .container-right
