= render 'layouts/header'
.page
  .settings-container
    .title-container
      %h1.settings-title
        Page not found
      .actions
        = link_to root_path, method: "get", class: 'btn secondary' do
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to home

    %p
      The page you were looking for does not exist :(