.header-bg
  .header
    .img-container
      - if current_team
        %a{href: dashboard_url(team: current_team.slug)}
          %h1.team-title
            = current_team.name
      - else
        %a{href: root_url}
          = image_tag('kudo-o-matic-white.png', class:'header-img')
          = image_tag('lizard.png', class:'mobile-img')

    .github
      %p
        = "Bugs, issues or suggestions?\n Please report them"
        %a{href:'https://github.com/kabisa/kudo-o-matic/issues', target:'blank'}
          here!
