:css
  .header-bg,
  .profile-picture,
  .simple_form #send-kudos-button,
  .team-page .actions .btn,
  .team-page .btn-primary,
  .progress-step .progress-bar-complete,
  .progress-step.is-complete .progress-marker,
  .progress-step .progress-bar-inner,
  .filter-content,
  .dropdown-content,
  .timeline-container .transaction-container .like-tooltip {
    background-color: #{current_team.primary_color};
  }

  .progress-step .progress-bar-inner .percentage {
    border-top: 1px solid #{current_team.primary_color};
  }

  .menu-tooltip,
  .drop-menu .menu-tooltip {
    border-color: transparent transparent #{current_team.primary_color} transparent;
  }
